Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
a ='data'
a

'data'

In [3]:
l = [1,2,'asha',True]
l

[1, 2, 'asha', True]

In [6]:
s = 3.149
s

3.149

In [8]:
tup = (1,4,5,'pw')
tup

(1, 4, 5, 'pw')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [9]:
var1 = ''
type(var1)

str

In [11]:
var2='[DS , ML,Python]'
type(var2)

str

In [12]:
var3 = ['DS','ML','Python']
type(var3)

list

In [14]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [15]:
a= 4
b =3
a/b

1.3333333333333333

In [16]:
a % b

1

In [19]:
5 // 2

2

In [20]:
2 ** 3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [23]:
list1 = [1,5,3.24,'Data',True ,3+2j]
for i in list1:
    print(i , ' ' ,type(i))

1   <class 'int'>
5   <class 'int'>
3.24   <class 'float'>
Data   <class 'str'>
True   <class 'bool'>
(3+2j)   <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [24]:
A =int(input('Enter a value for A :'))
B =int(input('Enter a value for B :'))
i =0
while A % B == 0:
    A = A // B
    i = i+1
print(i)

Enter a value for A :8
Enter a value for B :2
3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [26]:
l = list(range(25))
for i in l:
    if i % 3 ==0:
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [27]:
#Mutable data types are which we can change or update once they are created
list2 =[1,4,6,3]
list2[1]=5
list2

[1, 5, 6, 3]

In [28]:
#Immutable data types are which we cannot change or update once they are created
s = 'Python'
s[2]='g'
s

TypeError: 'str' object does not support item assignment