Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
# A database is a structured collection of data that is organized in a way that allows easy access, management, and updating of 
# that data.
# SQL databases use a structured schema and are suitable for complex relationships and transactions,while NoSQL databases offer a
# flexible schema and handling unstructured data in dynamic environments.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [2]:
# DDL, or Data Definition Language, is a subset of SQL (Structured Query Language) that deals with the definition and structure 
# of the database

# CREATE: Used to create new database objects like tables, indexes, or views.
#     CREATE TABLE employees (
#     emp_id INT PRIMARY KEY,
#     emp_name VARCHAR(50),
#     emp_salary DECIMAL(10, 2)
# );

# DROP:Used to delete existing database objects like tables, indexes, or views.
# DROP TABLE employees;

# ALTER:Used to modify the structure of existing database objects, such as adding or removing columns from a table.
# ALTER TABLE employees
# ADD COLUMN emp_department VARCHAR(30);

# TRUNCATE:Used to remove all rows from a table, but unlike DELETE, it does not log individual row deletions and is generally 
# faster.
# TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [3]:
# DML is a subset of SQL (Structured Query Language) responsible for manipulating data stored in the database. 

# INSERT:Used to add new rows of data into a table.
# INSERT INTO employees (emp_id, emp_name, emp_salary)
# VALUES (1, 'John Doe', 50000);

# UPDATE:Used to modify existing data in a table based on a specified condition.
# UPDATE employees SET emp_salary = 55000 WHERE emp_id = 1;

# DELETE:Used to remove one or more rows from a table based on a specified condition.
# DELETE FROM employees WHERE emp_id = 1;

Q4. What is DQL? Explain SELECT with an example.

In [4]:
# DQL is a subset of SQL (Structured Query Language) that deals with the retrieval of data from a database. 

# SELECT:Used to retrieve data from one or more tables in a database.
# SELECT emp_id, emp_name, emp_salary FROM employees WHERE emp_department = 'IT';

Q5. Explain Primary Key and Foreign Key.

In [6]:
# A primary key is a unique identifier for a record in a database table.It uniquely identifies each row in the table and ensures 
# that there are no duplicate or null values in the column(s) designated as the primary key. 

# A foreign key is a field in a database table that is used to establish a link between two tables. It creates a relationship 
# between the tables by referencing the primary key of another table

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [10]:
# import mysql.connector
# connection = mysql.connector.connect(
#     host= "your_host",
#     user= "your_user",
#     password= "your_password",
#     database= "your_database"
# )
# cursor = connection.cursor()
# query = "SELECT * FROM your_table;"
# cursor.execute(query)

# The cursor() method is used to create a cursor object. The cursor is a handle or pointer that allows you to interact with the 
# MySQL database.
# The execute() method is used to execute a MySQL query.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [11]:
# 1. SELECT specifies columns.
# 2. FROM identifies tables.
# 3. WHERE filters rows based on conditions.
# 4. GROUP BY groups rows for aggregation.
# 5. ORDER BY sorts the result set.